@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,200;0,300;0,400;0,500;0,700;1,300;1,500;1,700&family=Montserrat:ital,wght@0,100;0,200;0,500;0,600;1,100;1,500&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&family=Rubik:wght@300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    // background-color: #02052e;
}

[data-theme='dark'] {
    .dark-container {
        background: #343a40;
    }

    .dark-page {
        background: #212529;
    }

    h3,
    h4,
    h5,
    h6,
    strong {
        color: #ffffff;
    }

    .dart-text {
        color: #ffffff;
    }

    .dark-icon {
        color: #ff5e3a;
    }

    .dark-icon-header {
        color: #ffffff;
    }

    .ant-input-disabled,
    :where(.css-dev-only-do-not-override-2q8sxy).ant-input[disabled] {
        color: #ccc;
    }
}

canvas {
    width: 100% !important;
    height: 100% !important;
}

$mobile-width: 600px;
$tablet-width: 1024px;

@mixin mobile {
    @media only screen and (max-width: $mobile-width) {
        @content;
    }
}

@mixin tablet {
    @media only screen and (max-width: $tablet-width) {
        @content;
    }
}

// @import "reset-css";
@import './components/index.scss';
@import './pages/index.scss';
