<!DOCTYPE html>
<html lang="<%= language %>">
    <head>
        <base href="/" />
        <meta name="fragment" content="!" />
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no"
        />
        <title><%= htmlWebpackPlugin.options.title %></title>
    </head>
    <body>
        <div class="application" id="application"></div>
        <%= htmlWebpackPlugin.files.webpackManifest %>
        <script src="https://cdn.jsdelivr.net/npm/systemjs@0.19.47/dist/system.js"></script>
    </body>
</html>
