.page-topbar {
    min-height: 60px;
    position: fixed;
    width: calc(100% - 260px);
    top: 0px;
    left: 260px;
    z-index: 999;
    max-height: 60px;
    padding-right: 30px;
    padding-left: 30px;
    line-height: 60px;
    display: flex;
    align-items: center;

    &.sidebar_shift {
        width: calc(100% - 80px);
        left: 80px;

        @include tablet {
            left: 0px;
            width: 100%;
        }
    }
    @include tablet {
        width: 100%;
        background: #16213e;
    }
}
