.main-wrapper {
    margin-top: 70px;
    display: inline-block;
    // padding: 30px;
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
}

#main-content {
    margin-left: 260px;
    display: block;
}

#main-content.sidebar_shift {
    margin-left: 80px;
    margin-right: 0px;
    @include tablet {
        margin-left: 0;
    }
}
