/*------------- Select -------------*/
.ant-select-single {
    width: 100%;
    height: 100%;
    outline: none;
    border-radius: 6px;
}

.ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
    height: 100%;
    padding: 6px 10px;
}

.ant-select-single:not(.ant-select-customize-input) .ant-select-selector .ant-select-selection-search-input {
    height: 45px;
}

/*------------- autd -------------*/
.ant-table-wrapper .ant-table-thead th.ant-table-column-sort {
    background: #ff5e3a;
    color: #ffffff;
    span {
        color: #ffffff;
    }
}

.ant-table-wrapper .ant-table-thead th.ant-table-column-has-sorters:hover {
    background: #ff5e3a;
    color: #ffffff;
    span {
        color: #ffffff;
    }
}

.ant-table-wrapper td.ant-table-column-sort {
    background: #ff5e3a;
    color: #ffffff;
}

.ant-table-wrapper .ant-table-tbody .ant-table-row.ant-table-row-selected > .ant-table-cell {
    background: #fae7e3;
}

.ant-input-affix-wrapper {
    padding: 11px 11px;
}

.ant-spin .ant-spin-dot-item {
    background-color: #ff5e3a;
}

.ant-table-wrapper .ant-table-tbody .ant-table-row > .ant-table-cell-row-hover {
    color: rgba(0, 0, 0, 0.88);
}

/*------------- pagination -------------*/
.ant-pagination .ant-pagination-item-active {
    font-weight: 600;
    background-color: #ff5e3a;
    border-color: #ff5e3a;
}

.ant-pagination .ant-pagination-item-active a {
    color: #ffffff;
}

/*------------- checked -------------*/
.ant-switch.ant-switch-checked {
    background: #ff5e3a;
}

.ant-input {
    padding: 11px 11px;
}

/*------------- radio -------------*/
.ant-radio-wrapper .ant-radio-checked .ant-radio-inner {
    border-color: #ff5e3a;
    background-color: #ff5e3a;
}

.ant-radio-wrapper .ant-radio-inner {
    width: 20px;
    height: 20px;
}
.ant-radio-wrapper .ant-radio-inner::after {
    width: 20px;
    height: 20px;
    margin-block-start: -10px;
    margin-inline-start: -10px;
}

/*------------- tabs -------------*/
.ant-tabs .ant-tabs-tab:hover {
    color: #ff2d55;
}

.ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: #ff2d55 !important;
    text-shadow: 0 0 0.25px currentcolor;
}

.react-tabs__tab--selected {
    border-bottom: 1px solid #ff5e3a !important;
    color: #ff5e3a !important;
    background-color: transparent !important;
    outline: none;
}
