.ant-table-wrapper .ant-table,
.ant-table-wrapper .ant-table-thead > tr > th,
.ant-table-wrapper .ant-table-thead > tr > td {
    background-color: #ffffff;
}

[data-theme='dark'] {
    .ant-table-wrapper,
    .ant-table-wrapper .ant-table {
        background: #212529;
        color: #ffffff;
    }

    .ant-table-wrapper .ant-table-cell-fix-right {
        background: #212529;
    }

    .ant-table-wrapper .ant-table-thead > tr > th {
        background: #212529;
        color: #ffffff;
    }

    .ant-table-wrapper .ant-table-thead > tr > td {
        background: #212529;
    }

    .ant-radio-wrapper {
        color: #ffffff;
    }

    .ant-table-wrapper .ant-table-filter-trigger,
    .ant-table-wrapper .ant-table-column-sorter {
        color: #ffffff;
    }

    .ant-modal .ant-modal-content {
        background-color: #212529;
    }

    .ant-modal .ant-modal-close {
        color: #ffffff;
    }

    .ant-pagination .ant-pagination-item a,
    .ant-pagination .ant-pagination-next .ant-pagination-item-link,
    .ant-pagination .ant-pagination-prev .ant-pagination-item-link {
        color: #ffffff;
    }

    .ant-table-wrapper .ant-table-row-expand-icon {
        background-color: transparent;
    }

    .ant-btn-default:disabled {
        color: #ccc;
    }
}
