.thumbnail-upload {
    position: relative;
    margin: 0 auto;
    width: 200px;
    padding: 10px;

    .ant-image {
        width: 100%;
        background: #212529;
    }

    .button-camera {
        position: absolute;
        background: #ff5e3a;
        color: #fff;
        border: none;
        bottom: 5px;
        right: 10px;
        cursor: pointer;
        font-size: 20px;
        border-radius: 50%;
        padding: 5px;
    }
}

.font-upload {
    position: relative;
    margin: 0 auto;
    padding: 10px;

    .button-camera {
        position: absolute;
        background: #ff5e3a;
        color: #fff;
        border: none;
        bottom: 5px;
        right: 10px;
        cursor: pointer;
        font-size: 20px;
        border-radius: 50%;
        padding: 5px;
    }
}
